@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #ecf0f1;
}

#rules {
  background-color: #ffffff;
  top: 10%;
  z-index: 2;
  font-size: 15px;
  width: 300px;
  position: absolute;
  border-radius: 20px;
  padding: 0 15px 1px 0;
}

#rules li {
  list-style: square;
}

#rules h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}

@media (max-width: 1200px) {
  #rules {
    position: relative;
    max-width: 85vw;
    align-items: center;
    width: 95vw;
    left: 1%;
  }
}

#Title {
  text-align: center;
  color: #2980b9;
  font-weight: 900;
}

#Messages {
  display: flex;
  background-color: #34495e;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  height: 180px;
  min-width: max-content;
  font-size: 24px;
  font-family: "fira Code";
  margin-top: 50pt;
  color: #2ecc71;
  box-shadow: 1px 1px 2px #2ecc71;
}

#Score {
  display: grid;
  font-size: 0.7em;
  align-items: center;
  justify-content: center;
}

#Versus {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 3%;
  color: #3498db;
}

#Player,
#Computer {
  position: relative;
  flex-grow: 2;
  border-radius: 10px;
  padding: 10px 15px;
  color: whitesmoke;
  box-shadow: 1px 2px #000;
}

#Player {
  background-color: #2ecc71;
}

#Computer {
  background-color: #e74c3c;
}

#Name-player,
#Name-computer {
  margin: 0;
  padding: 0;
}

#Name-player {
  text-align: left;
}

#Name-computer {
  text-align: right;
}

#Points-player,
#Points-computer {
  position: absolute;
  top: 10px;
  font-size: 30px;
}

#Points-player {
  right: 20px;
}

#Points-computer {
  left: 20px;
}

ul#choice-player,
ul#choice-computer {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul#choice-player li,
ul#choice-computer li {
  display: inline;
}

ul#choice-player li a img,
ul#choice-computer li a img {
  max-width: 90px;
}

ul#choice-player li a,
ul#choice-computer li a {
  opacity: 0.2;
}

ul#choice-player li a:hover,
ul#choice-player li a.selected,
ul#choice-computer li a.selected {
  opacity: 1;
}
